# Force HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Prevent directory indexing
Options -Indexes

# MIME types for images and web assets
<IfModule mod_mime.c>
  AddType image/x-icon .ico
  AddType image/jpeg .jpg .jpeg
  AddType image/png .png
  AddType image/svg+xml .svg
  AddType text/html .html
</IfModule>

# Security Headers
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
</IfModule>
